<p>
 <strong>Nome:</strong>
 <%= @post.name %>
</p>

<p>
 <strong>Contato:</strong>
 <%= @post.contact %>
</p>

<p>
 <strong>Denúncia:</strong>
 <%= @post.denouncement %>
</p>

<p>
 <strong>Tipo de denúncia:</strong>
 <%= @post.kind %>
</p>

<%= link_to 'Back', posts_path %>